.logout {
    position: absolute;
    background-color: rgb(244, 244, 244);
    width: 100px;
    height: 100px;
    right: 10px;
    display: none;
    border-radius: 10px;
}

.logout button {
    margin: 10px;
    position: absolute;
    right: 0;
    border: none;
}

.turn {
    display: block;
}